body {
    background-color: black;
    padding: 100px;
    color: white;
}
ul {
    text-align: center;
    font-size: 15px;
}
.col-lg-12 {
    text-align: center;
    font-size: 66px;
    font-family: "copperplate", fantasy;
}
.menuItem {
    color: tan;
    font-size: 33px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 95%;
    height: 60px;
    background-color: transparent;
}

.navbar {
    font-size: 25px;
}

.navbar-brand {
    font-size: 15px;
}

.card {
    color: black;
}
